---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="expertise">
    <div class="row items-center py-5 md:pr-20 md:w-3/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">Experts</h2>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-9/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-center">
            With extensive multi-cloud experience we are technology experts spanning software and data engineering, architecture and analytics.
        </p>
    </div>
</div>

<div class="flex-row items-center py-5">
    <div class="lex flex-col items-center md:flex-row">
        <img src="https://static.wixstatic.com/media/6095f6_d90c3b0dde3e470faf9ab10ba8410381~mv2.png/v1/fill/w_772,h_437,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/SpotExpertise.png" alt="Expertise and Competencies" fetchpriority="high">
    </div>
</div>

</Container>